/*Tested on 12/11/2022*/

body {
    margin: 10px;
    max-width: 725px;
    width: 98%;
    background-color: beige;
    margin: 0% auto;
    font-family: rokkitt, serif;
    font-style: normal;
}

h1,h2,h3,h4{
    margin: 10px;
}

p {
    margin-left: 5px;
    margin-right: 5px;
}

li {
    padding-left: 10px;
}

img.logo {
    border-radius: 25px;
    border: 2px solid black;
    width: 15%;
}

img {
    float: left;
    width: 40%;
    margin-right: 30px;
}

header {
    width: 100%;
    padding-bottom: 10px;
    display:inline-block;
}

aside {
    width: 20%;
    margin: 0px;
    float: left;
}

#sidebar {
    float: left;
    width: 20%;
    padding: 0 0 20px 0px;
    font-size: 80%;
}

main {
    margin: 0px;
    width: 70%;
    float: left;
}

#mainThreeColumns {
    margin: 0px;
    width: 60%;
    float: left;
}

video {
    width: 100%;
}

/*Table styles */
table {
    margin: 0% auto;
}


@media (min-width: 470px) {
    table, tr, td {    
        border: 2px solid black;
        border-collapse: collapse;;   
    } 
}

td, th {
    border: 2px solid black;
    border-collapse: collapse;
}

thead {
    background-color: lightgray;
}

th{
    background-color: lightgray;
}

tfoot {
    font-size: small;
}

/*Input and label styles */
label {
    float: left;
    width: 8em;
    font-weight: bold;
    text-align: left;
}
input {
    width: 15em;
    margin: 0 0 .5em 1em;
}

input.message {
    width: 50%;
}


@media (max-width: 40em) {
    table, tr, td, th {    
        display: block;   
    } 
    aside {
        display: none;
    }
}

/*Non-mobile navigation menu style */
#menu ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#menu ul li{
    display: inline;
    padding: 0 1.5em;
}
#menu ul li a{
    font-weight: bold;
    color: blue;
}
#menu ul li a.current{ text-decoration: none;}


/*Enables slicknav */
/*Mobile navigation menu style */
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 40em) {
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}

